★ {
    margin: 0;
    padding: 0;
}

body {
}

#header {
    background-color: #47B39D;
    height: 92px;
    position: relative;
}

.title {
    font-size: 18px;
}
.titke a {
    color: #fff;
    text-decoration: none;
}

.gnav {
    position: absolute;
    top: 0;
    right: 0;
}